<link rel="stylesheet" href="/css/navbar.css">

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="/admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Trang quản lý admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/admin/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item nav-item-bar active menu-open">
                    <a href="/admin" class="nav-link  ">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Trang chủ
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                </li>
                <li class="nav-item nav-item-bar menu-open">
                    <a href="/admin/category" class="nav-link  ">
                        <i class="nav-icon fas fa-bars"></i>
                        <p>
                            Danh mục sản phẩm
                        </p>
                    </a>
                </li>
                <li class="nav-item nav-item-bar menu-open">
                    <a href="/admin/product" class="nav-link  ">
                        <i class="nav-icon fab fa-shopify"></i>
                        <p>
                            Danh sách sản phẩm
                        </p>
                    </a>
                </li>
                <li class="nav-item nav-item-bar menu-open">
                    <a href="/admin/danh-muc-bai-viet" class="nav-link  ">
                        <i class="nav-icon fas fa-receipt"></i>
                        <p>
                            Danh mục bài viết
                        </p>
                    </a>
                </li>
                <li class="nav-item nav-item-bar menu-open">
                    <a href="/admin/post" class="nav-link  ">
                        <i class="nav-icon fas fa-book-open"></i>
                        <p>
                            Danh sách bài Viết
                        </p>
                    </a>
                </li>
                <li class="nav-item nav-item-bar menu-open">
                    <a href="/admin/company" class="nav-link  ">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                            Công ty
                        </p>
                    </a>
                </li>
                <li class="nav-item nav-item-bar menu-open">
<<<<<<< HEAD
                    <a href="/admin/slider" class="nav-link  ">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                            Slider
                        </p>
                    </a>
                </li>
                {{!-- <li class="nav-item nav-item-bar menu-open">
=======
>>>>>>> 9976f261982f6fd2df5b85cfcaee3acac0ed7665
                    <a href="/admin/category" class="nav-link  ">
                        <i class="nav-icon fas fa-user-circle"></i>
                        <p>
                            Tài khoản
                        </p>
                    </a>
<<<<<<< HEAD
                </li> --}}
=======
                </li>
>>>>>>> 9976f261982f6fd2df5b85cfcaee3acac0ed7665

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<script>

</script>