<div class="content">
    <div class="container-fluid">
        <div class="row">
            <form class="col-sm-12" action="/admin/company/add" method="POST" enctype="multipart/form-data">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên công ty</label>
                        <input type="text" class="form-control" name="name" placeholder="Nhập tên công ty" value="">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ảnh đại diện công ty</label>
                        <input type="file" class="form-control-file" name="feature_image_path">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nội dung giới thệu công ty</label>
                        <textarea name="description" style="height: 350px;" class="form-control my-editor " rows=""
                            cols="">
                                </textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-primary" type="submit">Thêm Công Ty</button>

                </div>
            </form>

        </div>
    </div>
</div>
{{#section 'js'}}
<script src="/ckeditor\ckeditor.js">
</script>
<script>
    CKEDITOR.replace('description', {
        extraPlugins: 'filebrowser',
        filebrowserBrowseUrl: '/list',//upload location
        filebrowserUploadMethod: 'form',
        filebrowserUploadUrl: '/upload'//route
    })
</script>
{{/section}}