<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
<<<<<<< HEAD
                <form action="/admin/category/add" method="POST" enctype="multipart/form-data">
=======
                <form action="/admin/category/add" method="POST">
>>>>>>> 9976f261982f6fd2df5b85cfcaee3acac0ed7665
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên danh mục</label>
                        <input type="text" class="form-control" name="name" id="exampleInputEmail1"
                            placeholder="nhập tên danh mục" required>
                    </div>
                    <div class="form-group">
<<<<<<< HEAD
                        <label for="exampleInputEmail1">Ảnh đại diện</label>
                        <input type="file" class="form-control-file" name="feature_image_path">
                    </div>
                    <div class="form-group">
=======
>>>>>>> 9976f261982f6fd2df5b85cfcaee3acac0ed7665
                        <label>Danh mục cha</label>
                        <select class="form-control" name="parent_id">
                            <option value="0">Chọn danh mục cha</option>
                            {{{htmlSelect}}}
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Thêm danh mục</button>
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>